.page-moveUp-enter-active {
    animation: page-moveUp-enter .5s ease both;
}

.page-moveUp-leave-active {
    animation: page-moveUp-leave .5s ease both;
}

.page-moveDown-enter-active {
    animation: page-moveDown-enter .5s ease both;
}

.page-moveDown-leave-active {
    animation: page-moveDown-leave .5s ease both;
}

@keyframes page-moveUp-enter {
    0% {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes page-moveUp-leave {
    0% {
        transform: translateY(0);
    }
    to {
        transform: translateY(-100%);
    }
}

@keyframes page-moveDown-enter {
    0% {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes page-moveDown-leave {
    0% {
        transform: translateY(0);
    }
    to {
        transform: translateY(100%);
    }
}